body,
section,
div,
p,
h1,
h2,
h3,
h4,
h5,
a,
span {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei UI';
}

/* 图标 */
.fl {
  float: left;
}

.fr {
  float: right;
}

[class^='icon-'] {
  background-image: url('../../assets/img/icon.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 0 0;
  display: inline-block;
  width: 60px;
  height: 60px;
}

.icon-register {
  background-position: -718px 0;
  width: 65px;
}

.help-card.active .icon-register {
  background-position: -718px -89px;
}

.icon-auth {
  background-position: -177px 0;
  width: 65px;
}

.help-card.active .icon-auth {
  background-position: -177px -89px;
}

.icon-securitySet {
  background-position: -356px 0;
  width: 67px;
}

.help-card.active .icon-securitySet {
  background-position: -356px -89px;
}

.icon-putForward {
  background-position: -537px 0;
  width: 65px;
}

.help-card.active .icon-putForward {
  background-position: -537px -89px;
}

.icon-rookie {
  background-position: 0 0;
  width: 65px;
}

.help-card.active .icon-rookie {
  background-position: 0 -89px;
}

.icon-account {
  background-position: -270px 0;
  width: 65px;
}

.help-card.active .icon-account {
  background-position: -270px -89px;
}

.icon-product {
  background-position: -90px 0;
  width: 65px;
}

.help-card.active .icon-product {
  background-position: -90px -89px;
}

.icon-trade {
  background-position: -630px 0;
  width: 65px;
}

.help-card.active .icon-trade {
  background-position: -630px -89px;
}

.icon-safe {
  background-position: -450px 0;
  width: 65px;
}

.help-card.active .icon-safe {
  background-position: -450px -89px;
}

.icon-other {
  background-position: -810px 0;
  width: 65px;
}

.help-card.active .icon-other {
  background-position: -810px -89px;
}
